<div class="outer">
  <div class="container" style="padding-top:60px;"  *ngIf="!isSingupClicked  else signUp">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel-heading">
          <h3 class="pt-3 font-weight-bold">Login</h3>
        </div>
        <div class="panel-body p-3">
          
            <div class="form-group pt-3">
              <div class="input-field">
                <span class="fa fa-user p-2"></span>
                <input type="text" placeholder="Phone" [(ngModel)]="loginObj.phone" class="form-control sty1"  required>
              </div>
            </div>
            <div class="form-group pt-3">
              <div class="input-field">
                <span class="fa fa-user p-2"></span>
                <input type="password" placeholder="Password" [(ngModel)]="loginObj.password" class="form-control sty1"  required>
              </div>
            </div>
            <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
              {{errorMessage}}  
            </p>  
          
        <div class="row">  
          <div class="col-6">  
            <button type="submit" class="btn btn-primary px-4" (click)="login()">Login</button>  
          </div>  
          <div class="col-6 text-right">  
            <button type="button" class="btn btn-link px-0" (click)="goToSignUp()">Register Here</button>  
          </div>  
        </div>  
        
          
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #signUp>
  <app-signup></app-signup>
</ng-template>